*
  margin: 0
  padding: 0

body
  background: #6D00D9
  font-family: Tahoma
  padding-top: 75px


.samples
  position: relative

.title
  font-size: 42px
  text-shadow: 1px 1px 4px rgba(#000,.5)
  letter-spacing: 2px
  text-align: center
  margin: 15px 0
  color: #fff
  font-family: 'Luckiest Guy'

.topbar
  width: 100%
  position: fixed
  top: 0
  left: 0
  padding: 15px
  font-size: 24px
  background: rgba(#000, .6)
  color: #fff
  text-align: center
  z-index: 2

hr
  margin: 50px 0
  border: none
  border-bottom: 8px double rgba(#000,.1)


