
body
  background: #6D00D9

.samples
  position: relative
  margin-bottom: 50px


.title
  font-size: 42px
  text-shadow: 1px 1px 4px rgba(#000,.5)
  letter-spacing: 2px
  text-align: center
  color: #fff
  font-family: 'Luckiest Guy'
