$size-default: 100px
$size-pacman: 45px
$height-default: 50px
$size-star: 130px
$color: #fff
$colorCircle: #C350D9
$color-pacman: #FFFF00
$color-love: #F20E12

.rating:not(old)
  display: flex
  -webkit-display: flex
  -moz-display: flex
  flex-direction: row-reverse
  -webkit-flex-direction: row-reverse
  -moz-flex-direction: row-reverse
  justify-content: center
  -webkit-justify-content: center
  -moz-justify-content: center
  margin-bottom: 50px
  pointer-events: none

  label
    cursor: pointer
    pointer-events: all
    position: relative
    overflow: hidden

    &::before
      content: " "
      display: block
      opacity: 0

  label:hover::before,
  label:hover ~ label::before,
  &:not(:hover) > :checked ~ label::before
    opacity: 1

  > input
    opacity: 0
    width: 0

// Style Default
.rating:not(old)

  label
    background: rgba($color, .2)
    width: $size-default
    height: $size-default

    &::before
      width: $size-default
      height: $size-default
      background: $color


  // Style Circle
  &.rating-circle

    label
      background: rgba($colorCircle, .5)
      border-radius: 50%
      transform: scale(1)
      margin: 0 10px
      @include transition(transform 0.2s ease-in)

      &::before
        border-radius: 50%
        opacity: 0
        transform: scale(.1)
        background: $colorCircle

    label:hover:before,
    label:hover ~ label:before,
    &:not(:hover) > :checked ~ label::before
      @include transition(transform 0.2s ease-in)
      transform: scale(.85)
      opacity: 1


  // Style Bar
  &.rating-bar

    label
      background: rgba($color, .1)

      &::before
        @include transition(opacity 0.2s ease-in)

      &:nth-child(2)::before
        @include bg-gradient(#37e510, #0dbc15)

      &:nth-child(4)::before
        @include bg-gradient(#c1f765, #37e510)

      &:nth-child(6)::before
        @include bg-gradient(#fcf299, #c1f765)

      &:nth-child(8)::before
        @include bg-gradient(#F9D9B8, #fcf299)

      &:nth-child(10)::before
        @include bg-gradient(#ED5555, #F9D9B8)


  // Style Star
  &.rating-star

    label,
    label::before
      width: $size-star
      height: $size-star

    label
      background: url(../images/star-off.png) no-repeat transparent
      margin: 0 5px
      overflow: visible

      &::before
        background: url(../images/star-on.png) no-repeat transparent

      // &:hover
    label:hover:before,
    label:hover ~ label:before,
    &:not(:hover) > :checked ~ label::before
      transform: scale(1.1)
      @include transition(transform 0.2s ease-in)
      filter: drop-shadow(5px 5px 6px rgba(#000,.5))
      -webkit-filter: drop-shadow(5px 5px 6px rgba(#000,.5))
      -moz-filter: drop-shadow(5px 5px 6px rgba(#000,.5))


  // Style Pacman
  &.rating-pacman

    label
      width: 0px
      height: 0px
      border-right: $size-pacman solid $bg-project
      border-top: $size-pacman solid $color-pacman
      border-left: $size-pacman solid $color-pacman
      border-bottom: $size-pacman solid $color-pacman
      border-top-left-radius: $size-pacman
      border-top-right-radius: $size-pacman
      border-bottom-left-radius: $size-pacman
      border-bottom-right-radius: $size-pacman
      margin: 0 5px
      box-shadow: -5px 3px 5px rgba(#000, .4)

      &::before
        content: ""
        position: absolute
        width: 20px
        height: 20  px
        background: #000
        left: 0
        top: 0


    label:hover,
    label:hover ~ label,
    &:not(:hover) > :checked ~ label,
      border-right-color: $color-pacman



  // Style Love

  &.rating-love

    label
      position: relative
      background: none
      width: 120px
      overflow: visible

      span
        position: relative
        z-index: 1

        &::after,
        &::before
          background: darken($color-love, 20%)
          @extend %cuore-left

        &::after
          @extend %cuore-right

      &::after,
      &::before
        z-index: 2
        background: $color-love
        @extend %cuore-left

      &::after
        @extend %cuore-right
        opacity: 0

    label:hover span,
    label:hover ~ label span,
    &:not(:hover) > :checked ~ label span,
    label:hover::before,
    label:hover ~ label::before,
    &:not(:hover) > :checked ~ label::before,
    label:hover::after,
    label:hover ~ label::after,
    &:not(:hover) > :checked ~ label::after,
    label:hover span::before,
    label:hover ~ label span::before,
    &:not(:hover) > :checked ~ label span::before,
    label:hover span::after,
    label:hover ~ label span::after,
    &:not(:hover) > :checked ~ label span::after
      opacity: 1

