$size-default: 100px
$height-default: 50px
$size-star: 125px
$color: #fff
$colorCircle: #fff
$colorButton: #FFF

.rating:not(old)
  overflow: hidden
  display: flex
  flex-direction: row-reverse
  justify-content: center
  margin-bottom: 50px

  label
    cursor: pointer
    position: relative
    overflow: hidden

    &::before
      content: " "
      display: block
      opacity: 0

  label:hover:before,
  label:hover ~ label:before,
  label:hover span:before,
  label:hover ~ label span,
  &:not(:hover) > :checked ~ label:before,
  &:not(:hover) > :checked ~ label span
    opacity: 1

  > input
    opacity: 0
    width: 0

// Style Default
.rating:not(old)

  label
    background: rgba($color, .2)
    width: $size-default
    height: $size-default

    &::before
      transition: opacity 0.2s linear
      -webkit-transition: opacity 0.2s linear
      -moz-transition: opacity 0.2s linear
      -ms-transition: opacity 0.2s linear
      width: $size-default
      height: $size-default
      background: $color


  // Style Circle
  &.rating-circle

    label
      background: rgba($colorCircle, .5)
      border-radius: 50%
      transform: scale(1)
      margin: 0 3px

      &::before
        border-radius: 50%
        opacity: 0
        transform: scale(.1)
        background: $colorCircle
        transition: transform 0.2s ease-in
        -webkit-transition: transform 0.2s ease-in
        -moz-transition: transform 0.2s ease-in
        -ms-transition: transform 0.2s ease-in

    label:hover:before,
    label:hover ~ label:before,
    label:hover span:before,
    label:hover ~ label span,
    &:not(:hover) > :checked ~ label:before,
    &:not(:hover) > :checked ~ label span
      transform: scale(1)
      opacity: 1

  // Style Bar
  &.rating-bar

    label
      background: rgba($color, .1)

      &:nth-child(2)::before
        @include bg-gradient-t2b(#0dbc15, #0dbc15)

      &:nth-child(4)::before
        @include bg-gradient-t2b(#37e510, #0dbc15)

      &:nth-child(6)::before
        @include bg-gradient-t2b(#c1f765, #37e510)

      &:nth-child(8)::before
        @include bg-gradient-t2b(#fcf299, #c1f765)

      &:nth-child(10)::before
        @include bg-gradient-t2b(#f7f3cd, #fcf299)


  // Style Star
  &.rating-star

    label,
    label::before
      width: $size-star
      height: $size-star

    label
      background: url(../images/star-off.svg) transparent

      &::before
        background: url(../images/star-on.svg) transparent
