* {
  margin: 0;
  padding: 0; }

body {
  background: #6d00d9;
  font-family: Tahoma;
  padding-top: 75px; }

.samples {
  position: relative; }

.title {
  font-size: 42px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-align: center;
  margin: 15px 0;
  color: white;
  font-family: "Luckiest Guy"; }

.topbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  z-index: 2; }

hr {
  margin: 50px 20%;
  border: none;
  border-bottom: 8px double rgba(0, 0, 0, 0.1); }

.foot {
  padding: 10px;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  font-size: 12px; }
  .foot a {
    color: white; }
    .foot a:hover, .foot a:focus {
      text-decoration: none; }

.rating:not(old) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 50px; }
  .rating:not(old) label {
    cursor: pointer;
    position: relative;
    overflow: hidden; }
    .rating:not(old) label::before {
      content: " ";
      display: block;
      opacity: 0; }
  .rating:not(old) label:hover::before,
  .rating:not(old) label:hover ~ label::before, .rating:not(old):not(:hover) > :checked ~ label::before {
    opacity: 1; }
  .rating:not(old) > input {
    opacity: 0;
    width: 0; }

.rating:not(old) label {
  background: rgba(255, 255, 255, 0.2);
  width: 100px;
  height: 100px; }
  .rating:not(old) label::before {
    width: 100px;
    height: 100px;
    background: white; }
.rating:not(old).rating-circle label {
  background: rgba(195, 80, 217, 0.5);
  border-radius: 50%;
  transform: scale(1);
  margin: 0 3px;
  -moz-transition: transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  -webkit-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in; }
  .rating:not(old).rating-circle label::before {
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.1);
    background: #c350d9; }
.rating:not(old).rating-circle label:hover:before,
.rating:not(old).rating-circle label:hover ~ label:before, .rating:not(old).rating-circle:not(:hover) > :checked ~ label::before {
  -moz-transition: transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  -webkit-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transform: scale(0.85);
  opacity: 1; }
.rating:not(old).rating-bar label {
  background: rgba(255, 255, 255, 0.1); }
  .rating:not(old).rating-bar label::before {
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in; }
  .rating:not(old).rating-bar label:nth-child(2)::before {
    background-color: #37e510;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#37e510), to(#0dbc15));
    background-image: -webkit-linear-gradient(left, #37e510, #0dbc15);
    background-image: -moz-linear-gradient(left, #37e510, #0dbc15);
    background-image: -ms-linear-gradient(left, #37e510, #0dbc15);
    background-image: -o-linear-gradient(left, #37e510, #0dbc15);
    background-image: linear-gradient(left, #37e510, #0dbc15); }
  .rating:not(old).rating-bar label:nth-child(4)::before {
    background-color: #c1f765;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c1f765), to(#37e510));
    background-image: -webkit-linear-gradient(left, #c1f765, #37e510);
    background-image: -moz-linear-gradient(left, #c1f765, #37e510);
    background-image: -ms-linear-gradient(left, #c1f765, #37e510);
    background-image: -o-linear-gradient(left, #c1f765, #37e510);
    background-image: linear-gradient(left, #c1f765, #37e510); }
  .rating:not(old).rating-bar label:nth-child(6)::before {
    background-color: #fcf299;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf299), to(#c1f765));
    background-image: -webkit-linear-gradient(left, #fcf299, #c1f765);
    background-image: -moz-linear-gradient(left, #fcf299, #c1f765);
    background-image: -ms-linear-gradient(left, #fcf299, #c1f765);
    background-image: -o-linear-gradient(left, #fcf299, #c1f765);
    background-image: linear-gradient(left, #fcf299, #c1f765); }
  .rating:not(old).rating-bar label:nth-child(8)::before {
    background-color: #f9d9b8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9d9b8), to(#fcf299));
    background-image: -webkit-linear-gradient(left, #f9d9b8, #fcf299);
    background-image: -moz-linear-gradient(left, #f9d9b8, #fcf299);
    background-image: -ms-linear-gradient(left, #f9d9b8, #fcf299);
    background-image: -o-linear-gradient(left, #f9d9b8, #fcf299);
    background-image: linear-gradient(left, #f9d9b8, #fcf299); }
  .rating:not(old).rating-bar label:nth-child(10)::before {
    background-color: #ed5555;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ed5555), to(#f9d9b8));
    background-image: -webkit-linear-gradient(left, #ed5555, #f9d9b8);
    background-image: -moz-linear-gradient(left, #ed5555, #f9d9b8);
    background-image: -ms-linear-gradient(left, #ed5555, #f9d9b8);
    background-image: -o-linear-gradient(left, #ed5555, #f9d9b8);
    background-image: linear-gradient(left, #ed5555, #f9d9b8); }
.rating:not(old).rating-star label,
.rating:not(old).rating-star label::before {
  width: 130px;
  height: 130px; }
.rating:not(old).rating-star label {
  background: url(../images/star-off.png) no-repeat transparent;
  margin: 0 5px; }
  .rating:not(old).rating-star label::before {
    background: url(../images/star-on.png) no-repeat transparent; }
  .rating:not(old).rating-star label:hover {
    transform: scale(1.1);
    -moz-transition: transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in;
    -webkit-transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.5));
    -moz-filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.5)); }
.rating:not(old).rating-pacman label {
  width: 0px;
  height: 0px;
  border-right: 50px solid #6d00d9;
  border-top: 50px solid yellow;
  border-left: 50px solid yellow;
  border-bottom: 50px solid yellow;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 0 5px;
  box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.4); }
  .rating:not(old).rating-pacman label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20 px;
    background: black;
    left: 0;
    top: 0; }
.rating:not(old).rating-pacman label:hover,
.rating:not(old).rating-pacman label:hover ~ label, .rating:not(old).rating-pacman:not(:hover) > :checked ~ label {
  border-right-color: yellow; }
.rating:not(old).rating-love label {
  position: relative;
  background: none;
  width: 120px;
  overflow: visible; }
  .rating:not(old).rating-love label span {
    position: relative;
    z-index: 1; }
    .rating:not(old).rating-love label span::after, .rating:not(old).rating-love label span::before {
      position: absolute;
      content: "";
      left: 45px;
      top: 10px;
      width: 45px;
      height: 80px;
      background: #92080a;
      -moz-border-radius: 50px 50px 0 0;
      border-radius: 50px 50px 0 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%; }
    .rating:not(old).rating-love label span::after {
      left: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
  .rating:not(old).rating-love label::after, .rating:not(old).rating-love label::before {
    position: absolute;
    content: "";
    left: 45px;
    top: 10px;
    width: 45px;
    height: 80px;
    background: #f20e12;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    z-index: 2; }
  .rating:not(old).rating-love label::after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 0; }
.rating:not(old).rating-love label:hover::before,
.rating:not(old).rating-love label:hover ~ label::before, .rating:not(old).rating-love:not(:hover) > :checked ~ label::before,
.rating:not(old).rating-love label:hover::after,
.rating:not(old).rating-love label:hover ~ label::after, .rating:not(old).rating-love:not(:hover) > :checked ~ label::after,
.rating:not(old).rating-love label:hover span::before,
.rating:not(old).rating-love label:hover ~ label span::before, .rating:not(old).rating-love:not(:hover) > :checked ~ label span::before,
.rating:not(old).rating-love label:hover span::after,
.rating:not(old).rating-love label:hover ~ label span::after, .rating:not(old).rating-love:not(:hover) > :checked ~ label span::after {
  opacity: 1; }
